
<hello name="{{ nameIt }}"></hello>

<p>
  Start editing to see some magic happen :)
</p>

<alert type="success">Hello, I'm a Success Callout Alert</alert>


<div class="responsive-embed">
  <iframe width="420" height="315" src="https://www.youtube.com/embed/mM5_T-F1Yn4" frameborder="0" allowfullscreen></iframe>
</div>






<accordion [closeOthers]="oneAtATime">
  <accordion-group heading="Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>Content 1</p>
  </accordion-group>
  <accordion-group heading="Content 2">
    <p>Content 2</p>
  </accordion-group>
</accordion>

<div class="grid-x grid-margin-x">
  <div class="small-6 medium-4 large-3 cell">
    <input type="text"
            placeholder="Datepicker"
            placement="top"
            bsDatepicker>
  </div>
  <div class="small-6 medium-4 large-3 cell">
    <input type="text"
            placeholder="Date Range Picker"
            placement="top"
            bsDaterangepicker>
  </div>
</div>